<div class="uk-flex-center" uk-grid>
    <div class="uk-width-1-3@m">
        <p class="uk-text-center uk-margin-large-top uk-margin-medium-bottom">
            <img src="../../assets/images/big-logo.png" class="logo" alt="MagniLearn">
        </p>

        <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small">
            <h3 class="uk-card-title">Identification</h3>
            
            <div class="uk-margin">
                <input class="uk-input uk-form-large" type="number" placeholder="User ID" [(ngModel)]="userId">
            </div>
            
            <div class="uk-margin uk-text-right">
                <a href="javascript:void(0);" class="uk-button uk-button-default" (click)="login()">Log in</a>
            </div>

        </div>

    </div>
</div>